<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
    <ion-card>
        <img src="assets/img/alcohol-alcoholic-bar-989711.jpg"/>
        <div class="card-title">MixMe</div>

        <ion-row>
          <ion-col>
              <button ion-button (click)="login()" color="dark" clear> Login
              </button>
          </ion-col>
          <ion-col>
              <button ion-button color="light" href="/register" routerDirection="forward" large>Register</button>
          </ion-col>
        </ion-row>

      </ion-card>

</ion-content>

